body#rsvp {
  margin: 2em auto;
  font-family: Sans, Helvetica, Arial, Verdana, sans-serif;
  background: #ddd;
}

#wrapper {
  width: 900px;
  margin: auto;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px #aaa;
}

#header {
  height: 100px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #668EBA;
  background-image: -moz-linear-gradient(top, #668EBA, #445B74); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #668EBA),color-stop(1, #445B74)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #668EBA, #445B74);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#668EBA', EndColorStr='#445B74'); /* IE6–IE9 */
}
#header div {
  float: left;
}
#header .rsvp {
  font-weight: bold;
  font-size: 3em;
  height: 55px;
  padding: 45px 20px 0;
  color: #333;
  text-shadow: 0 1px 0 #777;
  background-image: -moz-linear-gradient(top, #577494, #303C48); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #577494),color-stop(1, #303C48)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #577494, #303C48);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#577494', EndColorStr='#303C48'); /* IE6–IE9 */
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
#header .hou {
  font-family: Meddon, Garamond, serif;
  font-size: 4em;
  text-shadow: 0 1px 2px #777;
  padding: 0.8em 0 0 0.5em;
}

#main, .bar {
  clear: both;
}
.bar {
  background: #ddd;
  padding: 0.2em 0.5em;
}

#main {
  padding: 1em;
}



.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;    }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.input input, .input textarea {
  vertical-align: top;
}

form.button_to, form.button_to > div {
  display: inline;
}

.submit {
  margin: 1em 0;
}

dl dt {
  font-size: 1.2em;
  margin: 1em 0 0;
  padding: 0;
}
dl dt:first-child {
  margin-top: 0;
}
dl dd {
  margin: 0.2em;
  padding: 0;
}

.columns.two .column {
  width: 50%;
  float: left;
}
.columns.two .column.right {
  float: right;
}

td {
  vertical-align: top;
}

.flash {
  background: #ffface;
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
}
