body#rsvp {
  background: #fff url('../images/background.png') repeat-x;
  font-family: Geneva, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Sans, Arial, sans-serif;
  font-size: 0.9em;
}
a {
  color: #06C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#wrapper {
  width: 900px;
  margin: auto;
  background: transparent;
}
#header {
    height: 150px;
    background: url('../images/banner.png') no-repeat center top;
    margin-top: 20px;
}
#header div {
  float: left;
}
#header a {
  height: 150px;
  text-indent: -999em;
  display: block;
  width: 650px;
  margin: auto;
  position: relative;
  left: -10px;
}
#header a:hover {
  background: transparent;
  color: #333;
}
#header .rsvp {
  font-weight: bold;
  font-size: 3.5em;
  height: 55px;
  padding: 45px 20px 0;
}
#id {
  float: right;
  padding: 0.5em 0 0 0;
  font-size: 1.2em;
}
h1 {
  font-size: 2em;
  font-family: 'Kreon', Arial, serif;
  font-weight: normal;
  margin-bottom: 1em;
}
h2 {
  font-family: 'Kreon', Arial, serif;
  font-weight: normal;
  background: #DDE3CF;
  padding: 0.5em 15px;
  margin: 1.5em -15px 0.5em;
}
#error_explanation h2 {
  background: #ddd;
}
img {
  padding: 10px;
}
.bar {
  clear: both;
  background: #ddd;
  padding: 0.2em 0.5em;
}
#main {
  position: relative;
  padding: 0 15px;
  background-color: transparent;
}
#main a:hover {
  color: #555;
  background: #eee;
}
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;    }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.input input, .input textarea {
  vertical-align: top;
}
form.button_to, form.button_to > div {
  display: inline;
}
.input {
  clear: left;
}
.input label {
  font-weight: bold;
  color: #777;
  display: block;
  padding: 0.5em 0;
}
.input .field_with_errors label {
  color: #a00;
}
.input.checkbox label, .input.select label {
  display: inline;
}
.input.checkbox input, .input.select input {
  vertical-align: top;
  width: auto;
}
.input input, .input textarea {
  padding: 0.5em;
  vertical-align: middle;
  font-size: 1.2em;
  font-family: Sans, Helvetica, Arial, Verdana, sans-serif;
  background: url(../images/input-background.png) 0 0 no-repeat;
  border: 1px #aaa solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.input input:focus, .input textarea:focus {
  -webkit-box-shadow: 0 0 5px #2B84CC;
  -moz-box-shadow: 0 0 5px #2B84CC;
  box-shadow: 0 0 5px #2B84CC;
  border-color: #888;
  outline: none;
}
.input input[disabled="disabled"], .input input:disabled {
  opacity: 0.6;
}
.submit {
  margin: 1.5em 0.2em 1em;
}
dl dt {
  font-size: 1.2em;
  margin: 1em 0 0;
  padding: 0;
}
dl dt:first-child {
  margin-top: 0;
}
dl dd {
  margin: 0.2em;
  padding: 0;
}
.columns.two .column {
  width: 50%;
  float: left;
}
.columns.two .column.right {
  float: right;
}
.columns.c4060 .column {
  width: 40%;
}
.columns.c4060 .column.right {
  width: 60%;
}
td {
  vertical-align: top;
}
.flash {
  position: absolute;
  top: 0;
  right: 15px;
  border: 1px #E5DD76 solid;
  background: #ffface;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 1em;
  width: 300px;
  margin: 1em 0 1em 1em;
  font-size: 1.35em;
  line-height: 120%;
}
table {
  border-collapse: collapse;
}
table th, table td {
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0.5em;
}
table th {
  vertical-align: bottom;
}
table tr:nth-child(even) {
  background: #eee;
}
hr {
  background: transparent url('../images/hr.png') no-repeat center;
  height: 25px;
  margin: 1.5em 0;
  border: 0;
}
/* Footer */
#footer {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Kreon', Georgia, serif;
  margin-bottom: 1em;
}
#footer a {
  color: #999; margin: 0 0.5em;
}
