<h1>Disclaimer</h1>
<p>(stuff you should know)</p>

<%= form_for :disclaimer do |f| %>
<div class="input checkbox">
  <%= f.check_box :agree %>
  <%= f.label :agree, "Yes, I have read and understand the above." %>
</div>
<div class="submit">
  <%= f.submit "Continue" %>
</div>
<% end %>
