<h2>Thank you!</h2>
<p>We are pleased you've taken the time to RSVP with us.  Keep in touch with us at <a href="http://hookedonus.com">hookedonus.com</a> and check your email for updates!</p>
<p>If you have any issues or questions, please contact me at <a href="mailto:anthony@hookedonus.com">anthony@hookedonus.com</a> or click to <a href="tel:+17153304665" onclick="jQuery('#callme').toggle('slow'); return false;">call me (715)330.4665</a>.</p>
<div style="text-align: center; display: none;" id="callme"><object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=4364ee99c935dfc1a20fcb807e4ec8f3fe5b2370&style=0" /></object></div>
