<h1>Check Attendees</h1>
<%= link_to 'Ceremony Attenance', admin_attendees_ceremony_path %><br />
<%= link_to 'Reception Attendance', admin_attendees_reception_path %><br />
<%= link_to 'Meal Totals', admin_attendees_meals_path %><br />
<%= link_to 'Not Attending', admin_attendees_notattending_path %>
